:root {
    font-family: sans-serif;
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    
}

body {
    color: #000000;
    background-color: #e0f2f1;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    background: #1e1e24;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #00695c;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.error-body{
    display:inline-block;
    background-color: #ef9a9a;
    padding: 0px 10px;
    border: 3px solid #b71c1c;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.error-text{
    color: #610f0f;
}

.account-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
}

.account-options > button, 
.account-options > form > button{
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    color: #fff;
    background-color: #00695C;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.account-options > button:hover, 
.account-options > form > button:hover{
    background-color: #00312b;
}

.btn-red{
    background-color: #d32f2f !important;
}
/* Small Screens */
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
    .account-options{
        flex-direction: column;
    }
    .account-options > button, 
    .account-options > form > button{
        margin: 10px 0px;
    }
}